$azul-primario: #082572;
$naranja-primario: #FF500B;
$blanco-secundario: #FAFAFA;
$morado-primario: #99A5C4;

$sombra-primaria: rgb(0, 0, 0, 0.25);
$sombra-card: rgba(0, 0, 0, 0.08);
$sombra-card-hover: rgba(0, 0, 0, 0.12);

$gradiente-primario: linear-gradient(to bottom, #082572, #99A5C4);