@use "../utils/variables" as vars;

.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.category {
  margin-top: 1.5rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-payment {
  margin: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.payment {
  min-width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid vars.$azul-primario;
  border-radius: 16px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.payment > i {
  color: vars.$azul-primario;
}

.sub-text {
  color: #6b7280;
  font-weight: 300;
}

.payment:hover {
  background-color: vars.$azul-primario;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px vars.$sombra-primaria;

  .sub-text {
    color: #d3d3d3;
  }

  .icon {
    color: white;
  }
}
